<br />
<br />
<mat-card class="wrapper mat-elevation-z0">
  <!-- page header -->
  <mat-card-title style="text-align: center">
    <h1>Contact Us!</h1>
  </mat-card-title>

  <br />

  <!-- page content -->
  <mat-card-content fxLayoutGap="20px">
    <!-- left card -->
    <mat-card fxFlex class="mat-elevation-z8">
      <!-- left title -->
      <mat-card-title> <h2 class="center">Connect</h2></mat-card-title>
      <!-- left content -->
      <mat-card-content class="center">
        <mat-icon color="primary">phonelink</mat-icon>
        <br />
        <br />
        <p>Cell: 123-456-7890</p>
        <p>Business: 987-654-3210</p>
        <p>Fax: 999-888-7777</p>
      </mat-card-content>
    </mat-card>
    <!-- right card -->
    <mat-card fxFlex class="mat-elevation-z8">
      <!-- right title -->
      <mat-card-title> <h2 class="center">Locate</h2> </mat-card-title>
      <!-- right content -->
      <mat-card-content class="center">
        <mat-icon color="primary">map</mat-icon>
        <br />
        <br />
        <p>123 Street Road</p>
        <p>City, State 12345</p>
        <p>United States of America</p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
