.wrapper {
  width: 50%;
  margin: auto;
  position: relative;
  padding: 50px 5px;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.large-text {
  font-size: 62px;
}

.medium-text {
  font-size: 48px;
}

h1,
h2,
mat-icon {
  text-shadow: 1px 3px 10px rgb(20, 20, 20);
}
