<br />
<br />
<!-- main screen wrapper -->
<mat-card class="wrapper mat-elevation-z0">
  <mat-card-title class="center">
    <h1>About Us!</h1>
  </mat-card-title>
  <br />
  <mat-card-content>
    <mat-card class="mat-elevation-z8 center">
      <mat-card class="mat-elevation-z0" fxFlex>
        <mat-icon style="font-size: 98px; width: auto; height: auto"
          >account_circle</mat-icon
        >
      </mat-card>
      <mat-card class="mat-elevation-z0" fxFlex>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
          quis, molestias nesciunt pariatur soluta voluptatem debitis quos enim
          suscipit, odit laudantium iste autem ex cupiditate, non atque sed
          fugiat in.
        </p>
      </mat-card>
    </mat-card>
  </mat-card-content>
</mat-card>
