<br />
<br />
<!-- main screen wrapper -->
<mat-card class="wrapper mat-elevation-z0">
  <mat-card-title class="center">
    <h1>About Us!</h1>
  </mat-card-title>
  <br />
  <mat-card-content>
    <mat-card class="mat-elevation-z8 center">
      <mat-card class="mat-elevation-z0" fxFlex>
        <img src="../../../assets/ravenclaw.jpeg" alt="ravenclaw logo" />
      </mat-card>
      <mat-card class="mat-elevation-z0" fxFlex>
        <p style="font-size: larger; line-height: 1.8rem">
          Here at Ravenclaw designs, we strive to build the best single page
          applications out there. We maintain our rich heritage of house colors,
          by implementing blue and gold tones through the design process. This
          nodebucket project was no exception. This single page application was
          built with an Angular user interface and node.js backend. Database
          solutions are fulfilled with MongoDB, while express runs the backend
          server. Design aspects of the user interface implement Angular's
          material functionality.
        </p>
      </mat-card>
    </mat-card>
  </mat-card-content>
</mat-card>
