/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
  width: 100%;
}

.primary {
  background-color: #2196f3;
}

.primary-dark {
  background-color: #0d47a1;
}

.accent {
  background-color: #ffc107;
}

.accent-dark {
  background-color: #ff6f00;
}

.p-10 {
  padding: 10px;
}
